# **Milestone 1: Requirements & Data Preparation**

**Possible KPI's**

`Revenue Lift (%) → ((New - Old) / Old) × 100`

`Profit Margin (%) → ((Revenue - Cost) / Revenue) × 100`

`Conversion Rate (%) → (Completed / Total) × 100 `

In [1]:
# KPI calculation functions
def revenue_lift(old, new):
    if old == 0:
        raise ValueError("Old revenue must be non-zero.")
    return ((new - old) / old) * 100


def profit_margin(revenue, cost):
    if revenue == 0:
        raise ValueError("Revenue must be non-zero.")
    return ((revenue - cost) / revenue) * 100


def conversion_rate(completed, total):
    if total == 0:
        raise ValueError("Total must be non-zero.")
    return (completed / total) * 100


# To Store KPI details in a dictionary
kpis = {
    "Revenue Lift": {
        "formula": "((New - Old) / Old) * 100",
        "description": "Increase in revenue (%)",
        "function": revenue_lift
    },
    "Profit Margin": {
        "formula": "((Revenue - Cost) / Revenue) * 100",
        "description": "Profit as % of revenue",
        "function": profit_margin
    },
    "Conversion Rate": {
        "formula": "(Completed / Total) * 100",
        "description": "Success ratio (%)",
        "function": conversion_rate
    }
}


def print_kpi_reference():
    print(f'{"KPI":20} | {"Formula":35} | {"Description"}')
    print("-" * 80)
    for name, info in kpis.items():
        print(f'{name:20} | {info["formula"]:35} | {info["description"]}')

## Installation Of  Required Libraries

In [ ]:
%pip install numpy pandas scikit-learn matplotlib seaborn scipy
%pip install xgboost lightgbm catboost
%pip install flask fastapi uvicorn
%pip install joblib

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("dynamic_pricing.csv")
df.head()

,Number_of_Riders,Number_of_Drivers,Location_Category,Customer_Loyalty_Status,Number_of_Past_Rides,Average_Ratings,Time_of_Booking,Vehicle_Type,Expected_Ride_Duration,Historical_Cost_of_Ride
0,90,45,Urban,Silver,13,4.47,Night,Premium,90,284.257273
1,58,39,Suburban,Silver,72,4.06,Evening,Economy,43,173.874753
2,42,31,Rural,Silver,0,3.99,Afternoon,Premium,76,329.795469
3,89,28,Rural,Regular,67,4.31,Afternoon,Premium,134,470.201232
4,78,22,Rural,Regular,74,3.77,Afternoon,Economy,149,579.681422